[Unit]
Description=CringeCast service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
WorkingDirectory=/home/pi/CringeCast
ExecStart=/bin/bash /home/pi/CringeCast/run.sh

[Install]
WantedBy=multi-user.target

